@import "tailwindcss";

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('/fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@layer components {
  .light_liquid-effect {
    @apply bg-white/5 backdrop-blur-3xl border border-white/10 rounded-[2.5rem] shadow-2xl;
  }
  .bg-main-gradient {
    @apply bg-linear-to-br from-[#1b1e2f] via-[#11131f] to-[#0a0b14];
  }
  .bg-auth-gradient {
    @apply bg-linear-to-t from-[#0d1117] to-[#202632];
  }
  .bg-button-gradient {
    @apply bg-radial from-[#6379B8] to-[#425386];
  }
  .bg-button-disabled-gradient {
    @apply bg-radial from-[#B3B3B3] to-[#6D6D6D];
  }
}

:root {
    --auth-main-color: #6379B8;
    --auth-input-color: #333d5a;
    --mobile-navigation-bar: #181C21;
}

html, body {
  overflow: hidden;
  height: 100dvh;
  background-color: #0d1117;
  font-family: Gilroy;
  font-weight: 600;
}

#root {
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}